@{
    ViewBag.Title = "Подтверждение почты";
}
<div class="text_center">
    <h2>@ViewBag.Title.</h2>
    <div>
        <h4>
            Благодарим за подтверждение электронной почты. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </h4>
    </div>
</div>