@{
    ViewBag.Title = "Подтверждение пароля (если он был забыт)";
}
<div class="text_center">
    <hgroup class="title">
        <h2>@ViewBag.Title.</h2>
    </hgroup>
    <div>
        <h4>
            Проверьте электронную почту, чтобы сбросить пароль.
        </h4>
    </div>
</div>

