@{
    ViewBag.Title = "Подтверждение сброса пароля";
}
<div class="text_center">
    <hgroup class="title">
        <h3>@ViewBag.Title.</h3>
    </hgroup>
    <div>
        <h4>
            Ваш пароль сброшен. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </h4>
    </div>
</div>