@{
    ViewBag.Title = "Заказ обработан";
}
<div class="text_center">
    <h2>Спасибо за покупку!</h2>
    <h5>Спасибо за выбор нашего магазина. Наш менеджер свяжется с вами в ближайшее время для уточнения времени отправки заказа!</h5>
</div>